body{
    background-color: rgb(17, 17, 0);
    color: white;
}
h1{
    color: rgb(236, 200, 0);
    margin-bottom: 0;
}
p{
    display: block;
    margin-bottom: 0;
    font-size: 120%;
    font-weight: bold
}

#navi {
    background-color: rgb(20, 20, 0);
    color: rgb(236, 200, 0);
}

i{
    color: rgb(236, 200, 0);
}

/* scrollbar */
::-webkit-scrollbar {
    width: 15px;
  }
::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(236, 200, 0);
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(146, 110, 0);
  }

  /* navbar */
  .nav-link{
      color: rgb(236, 200, 0); 
  }
  .nav-link:hover, .nav-link:focus{
    color: rgb(146, 110, 0);
  }
  .navbar-toggler, .navbar-toggler:focus{
    border: 0;
    box-shadow: none;
  }
  .navbar-toggler-icon{
   background-image: none;
  }



  #features p{
    text-align: center;
  }
  #features i{
    text-align: center;
  }



  #cat{
    height: 300px;
    transform: rotate(-20deg);
    background-color: rgb(146, 110, 0);
  }